.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

button {
  width: 200px;
}

.next {
  margin-right: 8rem; 
}
.prev {
  margin-left: 1rem;
}

hr {
  margin-top: 3rem;
  margin-right: 2.5rem;
  width:41rem;
  
  border-color: #e0e0e0;
}